table{
width:100%;
border:3px solid black;
border-collapse: collapse;
}
th,td{
	text-align:center;
	border:1px solid black;
	background-color: yellowgreen;
				
	}	
td{
	height: 40px;
}
th{
	height: 25px;
}		